.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.getmdl-select
    input.mdl-textfield__input.dropdown(id='#{name}' type='text', value='',placeholder='NONE' tabindex='-1')
    //label.mdl-textfield__label(for='#{name}') Action
    //label(for='#{name}')
    //    i.mdl-icon-toggle__label.material-icons keyboard_arrow_down
    //label.mdl-textfield__label(for='#{name}') Country
    ul.mdl-menu.mdl-menu--bottom-left.mdl-js-menu(for='#{name}')
